.site-header {
  display: flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 100;
  .site-branding {
    display: flex;
    width: 100%;
    align-self: center;
    a {
      text-decoration: none;
      padding-left: 8%;

      .header-name {
        color: #ff4a4a;
        font-size: 25px;
        width: 163px;
        font-family: 'Parisienne';
        margin: 0;
        &:hover {
          color: #ba5a47;
        }
        &:active {
          color: white;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 7%;
    ul {
      li {
        padding-right: 20px;
        a {
          text-decoration: none;
          color: #ff4a4a;
          font-family: 'Dosis';
          font-size: 18px;
          &:hover {
            color: #ba5a47;
          }
          &:active {
            color: white;
          }
        }
      }
    }
  }
}
