/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content {
  background: url('../../assets/header-pic.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  .front-container {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding: 10px;
    height: 100%;
    width: 80%;
    position: relative;
    top: 100px;
    .about {
      .about-title {
        font-size: 40px;
        font-family: 'Dosis';
        text-align: center;
      }
      .profile-pic {
        width: 10%;
        height: auto;
        left: 45%;
        position: relative;
      }
      .about-content {
        font-family: 'Niconne';
        p {
          font-size: 2em;
          font-weight: 200;
          text-align: center;
        }
      }
    }
  }
}
